@CHARSET "UTF-8";
body {
  background-image: url("http://www.hdwallpapers.in/walls/snow_white_mountains-wide.jpg");

background-repeat: no-repeat;
background-attachment:fixed;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron{
	background-color: white;
	opacity: 0.90;
}
.well{
	background-color: white;
	opacity: 0.90;
}
.thumbnail{
	opacity: 0.90;
}
.navbar-default {
    background-color: red;
    border-color: #E7E7E7;
}
li {
  color: black; 
}
.row2{
	background-color: white;
	opacity: 0.98;
}
pre {
    max-width: 90%; 
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: white;
}
