@CHARSET "UTF-8";
body {
  background-image: url("http://wallpaperscraft.com/image/spot_background_dark_faded_51765_3840x2400.jpg");

background-repeat: no-repeat;
background-attachment:fixed;


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron{
	background-color: white;
	opacity: 0.90;
}
.well{
	background-color: white;
	opacity: 0.90;
}
.thumbnail{
	opacity: 0.90;
}
.navbar-default {
    background-color: red;
    border-color: #E7E7E7;
}
li {
  color: black; 
}
.row2{
	background-color: white;
	opacity: 0.98;
}
.row3{
	background-color: white;
	opacity: 0.98;
	background-color: #3399FF;
	color: white;
}
pre {
    max-width: 90%; 
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: white;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
